@import '../../styles/breakpoints';

.landing-page {
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;

  main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 3.25rem 1.5rem 1rem;
    text-align: center;

    .intro-wrapper {
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      > .intro-name {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 5rem;
        line-height: 4rem;
        text-transform: uppercase;
        padding-bottom: 1rem;

        @include breakpoint-small-down {
          font-size: 3.5rem;
        }
      }

      > .tagline {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        margin: 1.5rem 0;

        @include breakpoint-small-down {
          font-size: 1rem;
        }
      }

      > .icon {
        margin: 1.5rem 0;
      }
    }
  }
}
